
html{


    background-color: rgb(12, 66, 129);
    color: azure;

}


#navbar{
    height: 50px ;


}


body{
    margin: 0px;
}


div{

    box-sizing:border-box;
}


#flex{

    
    display: flex;
    flex-wrap: wrap;
    height: 200px


}

#box01{

    width: 200px;
}

#box02{

    width: 200px;
}

#box03{

    width: 200px;
}

#box04{

    width: 200px;
}

#box05{

    width: 200px;
}

.container{
    border-color:rgb(255, 255, 255);
    border-style: dotted;
    border-width: 0.5px;

}